Name : <input type="text" [(ngModel)]="fname">
<p>{{ fname }}</p>
<br>
Name : <input type="text" [(ngModel)]="lname">
<p>{{ lname }}</p>
<br>
Email : <input type="text" [(ngModel)]="email">
<p>{{ email }}</p>
<br>
Contact : <input type="text" [(ngModel)]="contact">
<p>{{ contact}}</p>
<br>
 Address : <input type="text" [(ngModel)]="address">
 <p> {{ address }} </p>
 <br>
 Qualification : <input type="text" [(ngModel)]="qualification">
 <p> {{ qualification }} </p>

<br>
College Name: <input type="text" [(ngModel)]="clgname">
<p> {{ clgname }} </p>

 <router-outlet></router-outlet>